
   
.tipo2{
    background-color: #bce3c8;
   
}

.tipo1{
    background-color:#00a388;
    color: white;
    font-size: large;
    border: 2px solid black;
    margin: 20 px;
    padding:20px ;
    margin-top: 25px;
}